# *리스트 메소드*

In [1]:
numbers = [1, 2, 3, 4, 5, 6, 7]
numbers.append(8)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8]

### insert는 요소를 원하는 인덱스 위치에 넣을 수 있다.

In [6]:
numbers.insert(0, 0)
numbers.insert(4, 0)
numbers.insert(6, 0)
numbers.insert(len(numbers), 0)

In [11]:
print(numbers)

[0, 0, 0, 1, 0, 2, 0, 0, 3, 0, 0, 4, 0, 5, 6, 7, 8, 0, 0, 0]

### extend는 리스트에 리스트를 뒤로 붙인다.
###### 리스트1.extend(리스트2)

In [27]:
numbers.extend([4, 5, 6, 7])

In [28]:
print(numbers)

[1, 2, 3, 0, 0, 4, 0, 5, 6, 7, 8, 0, 0, 0, 4, 5, 6, 7]

### remove(요소) 인덱스의 위치의 요소를 삭제한다.

In [97]:
print(numbers)
numbers.remove(0)

[8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 1, 0, 0]

In [35]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 0, 0, 0, 4, 5, 6, 7]

### pop() 제일 뒤에 오는 요소를 반환한다. 그리고 리스트에서 삭제한다.

In [48]:
print(numbers.pop())

print(numbers)

0
[8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 1, 0, 0]

### index(인자) 리스트 안에 인자와 같은 요소를 앞에서 부터 찾습니다.

In [40]:
print(numbers.index(4))

3

### count(인자) 리스트 안에 인자와 같은 요소가 몇개가 있는지 반환한다.

In [41]:
print(numbers)
print(numbers.count(0))

[1, 2, 3, 4, 5, 6, 7, 8, 0, 0, 0, 4, 5, 6, 7]
3

### 리스트 정렬하기 

- sort()는 오름차순
- reverse()는 순서를 반대로(역순) 
- 반환값은 둘 다 None

In [46]:
numbers.sort()
print(numbers)
numbers.reverse()
print(numbers)

[0, 0, 0, 1, 2, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8]
[8, 7, 7, 6, 6, 5, 5, 4, 4, 3, 2, 1, 0, 0, 0]

### stack은 후입선출 구조

In [50]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)   # 결과값 : [3, 4, 5, 6, 7]
print(stack)

print(stack.pop())    # 7 먼저 반환
print(stack.pop())    # 6 반환
print(stack.pop())    # 5 반환

print(stack)

[3, 4, 5, 6, 7]
7
6
5
[3, 4]

### 튜플
###### 튜플은 리스트와 거의 비슷하지만 수정이 불가 (불변)  
###### 소괄호 사이에 요소들을 콤마로 구분

In [51]:
tuple_variable = (1, 2, 3, 4, 5, "hello")

In [52]:
tuple_variable[0] = 0

TypeError: 'tuple' object does not support item assignment

In [53]:
tuple_variable[1:3] = ["dd", "ee"]

TypeError: 'tuple' object does not support item assignment

### 튜플에서는 요소에 대한 삭제도 불가하다.

In [57]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플은 소괄호 생략 가능 하지만 명시해서 명확하게 표현하는게 좋음

In [59]:
t_v2 = "음", "오", "아", "에"

In [60]:
print(type(t_v2))

<class 'tuple'>

##### 리스트가 더 범용적인데 튜플 왜 쓸까?
###### 리스트는 크기가 바뀔 수 있기 떄문에 그에 따른 초과 할당까지 고려해서 메모리에 저장할 수 있는지까지 신경써야함

##### 튜플과 리스트의 소요시간 비교

In [62]:
import time

curr = time.time()
total = []

for i in range(10000):
    for j in range(10000):
        total.append((i, j))
        
last = time.time()
print(last - curr)

15.206979274749756

In [63]:
import time

curr = time.time()
total = []

for i in range(10000):
    for j in range(10000):
        total.append([i, j])
        
last = time.time()
print(last - curr)

40.42857503890991

##### 
1. 처음 20번째까지 소수 = 튜플 (수가 정해져 있어서)
2. 프로그래밍 언어의 종류= 리스트 (사용할 수 있는 프로그래밍 언어는 여러가지라)
3. 사람의 나이, 몸무게, 키 = 리스트 (언제든 변동될 수 있어서)
4. 사람의 생일과 출생지= 튜플 (사람의 생일과 출생지는 변동될 수 없어서)
5. 롤 게임의 결과 = 튜플 ( 게임의 결과는 변동이 없어서)
6. 잇단 롤 게임의 결과 = 리스트 ( 롤 게임의 결과는 그때 그때 변동되서)

#### 파이썬 입력 사용해보기

In [65]:
s1, s2 = "text1", "text2"
print(s1)
print(s2)

text1
text2

In [66]:
s3, s4, s5 = ["이렇게", "리스트도", "가능합니다"]
print(s3, s4, s5)

이렇게 리스트도 가능합니다

In [68]:
s6, s7, s8, s9 = "문자열도"
print(s6, s7, s8, s9)

문 자 열 도

In [70]:
input_value = input("Message")

Message 1111

In [71]:
print("input_value;", input_value, "\ntype;", type(input_value))

input_value; 1111
type; <class 'str'>

In [73]:
input_value = input("정수 외에 다른 값을 입력해보세요")

정수 외에 다른 값을 입력해보세요 1.1

In [75]:
input_value = float(input_value)
print(input_value)

1.1

In [77]:
input_value3 = input("정수 외에 다른 값을 입력해보세요")
int(input3_value)

정수 외에 다른 값을 입력해보세요 3.2

NameError: name 'input3_value' is not defined

In [78]:
input_value4 = int(input("정수를 입력해주세요:"))
print(input_value4)

정수를 입력해주세요: 5

5

In [88]:
input_name = input("이름을 입력하시오: ")
print(input_name, "씨, 안녕하세요?")
print("파이썬에 오신 것을 환영합니다.")
input_number1 = int(input("첫 번째 정수를 입력하세요: "))
input_number2 = int(input("두 번째 정수를 입력하세요: "))
print(input_number1, "과", input_number2, "의 합은", input_number1 + input_number2, "입니다.")

이름을 입력하시오:  엔코아

엔코아 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

첫 번째 정수를 입력하세요:  300
두 번째 정수를 입력하세요:  400

300 과 400 의 합은 700 입니다.

In [96]:
ground = input("경기장은 어디입니까? ")
wteam = input("이긴 팀은 어디입니까? ")
lteam = input("진 팀은 어디입니까? ")
play = input("우수 선수는 누구입니까? ")
score = input("스코어는 몇대몇입니까? ")

print("\n[속보]", wteam, "가", score, "로 승리...")
print("오늘", ground, "에서 야구경기가 있었습니다.")
print("KT와 LG는 치열한 공방전을 펼쳤습니다.")
print("이 경기에서", play, "가 맹활약을 했습니다.")
print("그 끝내", wteam, "가", lteam, "를", score, "로 승리하였습니다.")
print("기사 끝.")

경기장은 어디입니까?  고척
이긴 팀은 어디입니까?  KT
진 팀은 어디입니까?  LG
우수 선수는 누구입니까?  강백호
스코어는 몇대몇입니까?  10:9

[속보] KT 가 10:9 로 승리...
오늘 고척 에서 야구경기가 있었습니다.
KT와 LG는 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호 가 맹활약을 했습니다.
그 끝내 KT 가 LG 를 10:9 로 승리하였습니다.
기사 끝.

### split() - 함수 인자로 전달된 구분자를 활용하여 문자열을 쪼갬

In [99]:
result = '1,2,3' .split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [107]:
hh,mm,ss = input( "hh:mm:ss의 형태로 시간을 입력해주새요" ).split(':')
print("실행결과")

print("시:", hh)
print("분:", mm)
print("초:", ss)

hh:mm:ss의 형태로 시간을 입력해주새요 12:23:34

실행결과
시: 12
분: 23
초: 34

#### map()내장 함수 이용하기 - iterable 객체에서 요소를 하나하나 꺼내어 특정 함수를 각각 적용하고 싶을 때 사용

In [109]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int, a))
print(a)

[1, 2, 3, 4]

In [117]:
kor, eng, mat, sci = map(int, input("국어, 영어, 수학, 과학 점수를 입력해주세요.").split(','))
avg = (kor + eng + mat + sci)/4

print("실행 결과:")
print("평균 점수는", avg , "점 입니다.")

국어, 영어, 수학, 과학 점수를 입력해주세요. 98, 96, 100, 98

실행 결과:
평균 점수는 98.0 점 입니다.

In [127]:
year = '2021'
month = '02'
day = '03'
hour = '18'
minute = '33'
second = '23'

print(year, month, day, sep="/", end=" ")
print(hour, minute, second, sep=":" )

2021/02/03 18:33:23

In [135]:
apple, man = map(int,input("사과와 귤을 몇개 드릴까요?").split(','))
won = (apple*1000 + man*200)

print("실행 결과: ")
print("총 가격은", won, end="" )
print("원입니다.")

사과와 귤을 몇개 드릴까요? 10,20

실행 결과:
총 가격은 14000원입니다.

In [136]:
type(input_value4) is not

SyntaxError: invalid syntax (3560661038.py, line 1)

### if문

In [138]:
if type(input_value4) is int:
    print("input_value4는 정수입니다.")

input_value4는 정수입니다.

In [140]:
age = 25

if 20 <= age <30:
    print("20대 입니다.")
elif 30 <= age < 40:
    print("30대 입니다.")

20대 입니다.

In [160]:
print("실행 결과: ")
id = input("아이디를 입력하세요:")

if id == "admin":
    print("최고 관리자, 모든 권한을 갖습니다.")
else:
    grade = int(input("회원 등급을 입력하세요:"))
    if 1 <= grade <= 3:
        print("제한적인 권한을 갖습니다.")
    else:
        print("권한이 없습니다.")

실행 결과:

아이디를 입력하세요: admin

최고 관리자, 모든 권한을 갖습니다.