### 2023-01-06 (3일차)

#### <for문>

##### for문과 range() 내장 함수
- range() 내장 함수는 연속된 숫자 만드는데 특화  
- for문은 반복 실행하는데 특화 
     
 for (요소를 담을 변수)  in 반복 가능한 객체:   
 반복할 코드    
     for 변수 in range(횟수):   
     반복할 코드

ex)

In [3]:
for n in range(10):
    print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

### range() 함수  
##### 슬라이싱과 구조가 비슷  
range변수 = range(시작, 끝, 증감크기)  
       시퀀스자료형변수[시작:끝:증감크기]

In [5]:
even_numbers = list(range(2, 100, 2))
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [10]:
print("실행 결과:")
for n in range(1, 101):
    print("Hello world", n)

실행 결과:
Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10
Hello world 11
Hello world 12
Hello world 13
Hello world 14
Hello world 15
Hello world 16
Hello world 17
Hello world 18
Hello world 19
Hello world 20
Hello world 21
Hello world 22
Hello world 23
Hello world 24
Hello world 25
Hello world 26
Hello world 27
Hello world 28
Hello world 29
Hello world 30
Hello world 31
Hello world 32
Hello world 33
Hello world 34
Hello world 35
Hello world 36
Hello world 37
Hello world 38
Hello world 39
Hello world 40
Hello world 41
Hello world 42
Hello world 43
Hello world 44
Hello world 45
Hello world 46
Hello world 47
Hello world 48
Hello world 49
Hello world 50
Hello world 51
Hello world 52
Hello world 53
Hello world 54
Hello world 55
Hello world 56
Hello world 57
Hello world 58
Hello world 59
Hello world 60
Hello world 61
Hello world 62
Hello world 63
Hello world 64
Hello world 65
Hello world 66
Hello world 67
Hello world 68
Hello world 69
Hello world 70
Hello world 71
Hello world 72
Hello world 73
Hello world 74
Hello world 75
Hello world 76
Hello world 77
Hello world 78
Hello world 79
Hello world 80
Hello world 81
Hello world 82
Hello world 83
Hello world 84
Hello world 85
Hello world 86
Hello world 87
Hello world 88
Hello world 89
Hello world 90
Hello world 91
Hello world 92
Hello world 93
Hello world 94
Hello world 95
Hello world 96
Hello world 97
Hello world 98
Hello world 99
Hello world 100

In [12]:
print("실행 결과:")
y = int(input("인사 몇 번 해드릴까요?"))
for n in range(y):
    print("Hello world")

실행 결과:

인사 몇 번 해드릴까요? 3

Hello world
Hello world
Hello world

In [1]:
print("실행 결과:")
print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(-10,-100,-30)))

실행 결과:
[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

In [94]:
print("실행 결과:")
f = int(input("자연수 하나 입력해주세요:"))
for i in range(f, 0, -1):
    for j in range(i):
        print(i, end = "\t")
    print()

실행 결과:

자연수 하나 입력해주세요: 6

6	6	6	6	6	6
5	5	5	5	5
4	4	4	4
3	3	3
2	2
1

In [118]:
print("실행 결과:")
for i in range(10):
    if i == 0 or i == 9:
        print("* "*10)
    else:
        print("*                 *")

실행 결과:
* * * * * * * * * *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
*                 *
* * * * * * * * * *

In [172]:
print("실행 결과:")
a = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
sum+ = i
for i in range(1, a-1, 2):
    if a%2 == 0 :
        print(i, "+", end = " ")
    else :
        print(i, "+", end = " ")

실행 결과:

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 14

1 + 98 3 + 98 5 + 98 7 + 98 9 + 98 11 + 98

In [191]:
print("실행 결과:")
a = int(input("1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다"))
hab = 0
for i in range(1, a+1, 2):
    if i % 2 == 1:
        if(a - 1) == i or a == i :
            print(i, end=" = ")
        else:
            print(i, end = " + ")
    hab += i
print(hab)

실행 결과:

1부터 입력한 자연수까지의 모든 홀수의 합을 구합니다 14

1 + 3 + 5 + 7 + 9 + 11 + 13 = 49

In [196]:
print("실행 결과:")
b = int(input("계승을 구할 숫자를 입력하세요."))
fac = 1
for i in range(1,b+1,1):
    fac *= i
print(fac)

실행 결과:

계승을 구할 숫자를 입력하세요. 7

5040

In [1]:
import math
a = int(input("계승을 구할 숫자를 입력하세요."))
print(math.factorial(a))

계승을 구할 숫자를 입력하세요. 5

120

### reversed() 함수  
##### 역순으로 변경 가능 (리스트 메서드에 있는 reverse()와 다른 함수)
- 반환값을 주지만 해당 시퀸스를 변경X
- 요소 순서를 뒤집으면 반환값X

In [3]:
x = [10, -42, 25, 103, 21, 77, 24]
print("실행 결과:")
for i in x:
    print(i*10, end=" ")

실행 결과:
100 -420 250 1030 210 770 240

In [14]:
print("실행 결과:")
gu = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
for i in range(1,10,1):
    gugu = gu * i
    print(gu, "*", i, "=", gugu )

실행 결과:

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [21]:
print("실행 결과:")
c = int(input("자연수를 입력해주세요:"))
sum = 0
for i in range(1,c+1):
    sum += i
print(sum)

실행 결과:

자연수를 입력해주세요: 100

5050