# 2023-01-09 #

In [7]:
for _ in reversed("일이삼사오육칠팔구십") :
    print(_, end=" ")

십 구 팔 칠 육 오 사 삼 이 일

In [29]:
print("실행 결과:")
for i in range(5):
    for j in range(5):
        print("*", end = "")
    print()

실행 결과:
*****
*****
*****
*****
*****

In [28]:
print("실행 결과:")
for i in range(5):
    print("*"*5)

실행 결과:
*****
*****
*****
*****
*****

## while문 ##  
  
    
      
      1. 조건식을 판별합니다
      2. 조건식이 True인 동안 내내 while문의 바디를 실행합니다.
      3. 조건식이 False가 되면 while문을 빠져나갑니다  
        
          
            
            i = 0     #초기식
            while i < 10:    #조건식
            print("Hello world")    #반복할 코드
            i += 1    #변화식

In [37]:
i = 0
while i < 10:
    print("Hello world")
    i += 1

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [38]:
i = 0
while i < 10:
    print("Hello world")
    i += 2

Hello world
Hello world
Hello world
Hello world
Hello world

In [43]:
count  = int(input("반복할 횟수를 입력하세요:"))

while count > 0:
    print("Hello world", count)
    count -= 1

반복할 횟수를 입력하세요: 3

Hello world 3
Hello world 2
Hello world 1

In [62]:
n = 2
while n <= 100:
    print(n, end = "\t")
    n += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [70]:
print("실행 결과:")
number = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
n = 1
while n < 10:
    print(number, "*", n, "=", number * n )
    n += 1

실행 결과:

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [86]:
print("실행 결과:")
stu = int(input("학생의 수:"))
s = 1
avg = 0 
while s <= stu : 
    sco = int(input(str(s) + "번 학생의 점수:"))
    s += 1
    avg += sco
print("평균:", avg/stu )

실행 결과:

학생의 수: 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 99

평균: 88.0

In [87]:
print("실행 결과:")
stu = int(input("학생의 수:"))
s = 1
avg = 0 
while s <= stu : 
    avg += int(input(str(s) + "번 학생의 점수:"))
    s += 1
print("평균:", avg/stu )

실행 결과:

학생의 수: 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 9

평균: 58.0

In [90]:
scores = (97, 100, 77)
i = 0
while i < len(scores):
    print(scores[i])
    i += 1

97
100
77

## 연습문제 ##

In [108]:
print("실행 결과")
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100) 
score = 0
i = 0
while i < len(class_a):
    score += class_a[i]
    i += 1
print(score/len(class_a))

실행 결과
79.0

## break문 ##

In [110]:
for _ in range(1000):
    print(_)
    if _ == 100:
        break #반복 종료

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [114]:
i = 0  #초기식
while True: #(True)=무한루프
    print("Hello world")
    i += 1  #변화식
    if i == 100:  #조건식
        break  #루프를 빠져나간다

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [126]:
i = 0
total = 0
while True:
    i += 1
    if i == 101:
        break
    total += i
print(total)

5050

In [129]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == "q": break
print("프로그램을 종료합니다.")

q를 입력하면 종료됩니다. ㅂ
q를 입력하면 종료됩니다. q

프로그램을 종료합니다.

### continue   
      
    
    제어흐름을 유지하고, continue가 실행된 반복 횟수의 코드 실행만 건너 뜁니다.

In [148]:
for i in range(100):  #0부터 99까지 증가하면서 반복
    if i % 2 == 0:  #짝수
        continue  #아래 코드를 실행하지 않고 건너뛰기
    print(i, end="\t")

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [163]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    if i > 100 :
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [172]:
for i in range(11):
    if i > 0 :
        print(i,end="")

12345678910

In [183]:
i = 1
while True:
    if i > 10 :
        break
    print(i,end="")
    i += 1

12345678910

In [186]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 1
for i in range(end):
    sum += i
print(sta, "부터", end, "까지의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 3
끝나는 정수 입력: 4

1부터 10까지의 합은 7 입니다

In [193]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
i = 1
while True:
    if i > end :
        break
    sum+=i
    i += 1
print(sta, "부터", end, "까지의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 5

1 부터 5 까지의 합은 15 입니다

In [198]:
print(f'{sta}부터 {end}까지의 합은 {sum}입니다.')

1부터 5까지의 합은 15입니다.

In [203]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
i = 1
while i <= end :
    sum+=i
    i += 1
print(sta, "부터", end, "까지의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 2

1 부터 2 까지의 합은 3 입니다

In [217]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
for i in range(sta, end+1):
    if i % 2 == 0:
        sum += (i*i)
print(sta, "부터", end, "사이의 짝수 제곱의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 2

1 부터 2 까지의 합은 4 입니다

In [221]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
i = 1
while i <= end :
    if i % 2 == 0:
        sum+= i*i
    i += 1
print(sta, "부터", end, "사이의 짝수 제곱의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 5

1 부터 5 사이의 짝수 제곱의 합은 20 입니다

In [232]:
print("실행 결과:")
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] # 0부터 시작
sum = 0
for i in range(0,10):
    sum += kor[i]
print(sum/len(kor))

실행 결과:
79.0

In [236]:
print("실행 결과:")
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] # 0부터 시작
sum = 0
i = 0
while i < 10 :
    sum+= kor[i]
    i += 1
print(sum/len(kor))

실행 결과:
79.0

In [239]:
print("실행 결과:")
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] # 0부터 시작
sum = 0
for score in kor:
    sum += score
    avg = sum / len(kor)
print(avg)

실행 결과:
79.0

In [254]:
print("실행 결과:")
sum = 0
for num in range(0,1000) :
    if num % 3 == 0 or num % 5 == 0 :
        sum += num
print(sum)

실행 결과:
233168

In [ ]:
print("실행 결과:")
sum = 0
i = 0
while True:
    if i % 3 ==0 or i % 5 == 0 :
        i += 1
    if i >= 1000 :
        break
print(sum)

실행 결과: