# 2023-01-09 #

In [7]:
for _ in reversed("일이삼사오육칠팔구십") :
    print(_, end=" ")

십 구 팔 칠 육 오 사 삼 이 일

In [29]:
print("실행 결과:")
for i in range(5):
    for j in range(5):
        print("*", end = "")
    print()

실행 결과:
*****
*****
*****
*****
*****

In [28]:
print("실행 결과:")
for i in range(5):
    print("*"*5)

실행 결과:
*****
*****
*****
*****
*****

## while문 ##  
  
    
      
      1. 조건식을 판별합니다
      2. 조건식이 True인 동안 내내 while문의 바디를 실행합니다.
      3. 조건식이 False가 되면 while문을 빠져나갑니다  
        
          
            
            i = 0     #초기식
            while i < 10:    #조건식
            print("Hello world")    #반복할 코드
            i += 1    #변화식

In [37]:
i = 0
while i < 10:
    print("Hello world")
    i += 1

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [38]:
i = 0
while i < 10:
    print("Hello world")
    i += 2

Hello world
Hello world
Hello world
Hello world
Hello world

In [43]:
count  = int(input("반복할 횟수를 입력하세요:"))

while count > 0:
    print("Hello world", count)
    count -= 1

반복할 횟수를 입력하세요: 3

Hello world 3
Hello world 2
Hello world 1

In [62]:
n = 2
while n <= 100:
    print(n, end = "\t")
    n += 2

2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98	100

In [70]:
print("실행 결과:")
number = int(input("구구단을 알려드립니다. 숫자를 입력하세요"))
n = 1
while n < 10:
    print(number, "*", n, "=", number * n )
    n += 1

실행 결과:

구구단을 알려드립니다. 숫자를 입력하세요 9

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [86]:
print("실행 결과:")
stu = int(input("학생의 수:"))
s = 1
avg = 0 
while s <= stu : 
    sco = int(input(str(s) + "번 학생의 점수:"))
    s += 1
    avg += sco
print("평균:", avg/stu )

실행 결과:

학생의 수: 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 99

평균: 88.0

In [87]:
print("실행 결과:")
stu = int(input("학생의 수:"))
s = 1
avg = 0 
while s <= stu : 
    avg += int(input(str(s) + "번 학생의 점수:"))
    s += 1
print("평균:", avg/stu )

실행 결과:

학생의 수: 3
1번 학생의 점수: 77
2번 학생의 점수: 88
3번 학생의 점수: 9

평균: 58.0

In [90]:
scores = (97, 100, 77)
i = 0
while i < len(scores):
    print(scores[i])
    i += 1

97
100
77

## 연습문제 ##

In [108]:
print("실행 결과")
class_a = (70, 60, 55, 75, 95, 90, 80, 80, 85, 100) 
score = 0
i = 0
while i < len(class_a):
    score += class_a[i]
    i += 1
print(score/len(class_a))

실행 결과
79.0

## break문 ##

In [110]:
for _ in range(1000):
    print(_)
    if _ == 100:
        break #반복 종료

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [114]:
i = 0  #초기식
while True: #(True)=무한루프
    print("Hello world")
    i += 1  #변화식
    if i == 100:  #조건식
        break  #루프를 빠져나간다

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [126]:
i = 0
total = 0
while True:
    i += 1
    if i == 101:
        break
    total += i
print(total)

5050

In [129]:
while True:
    input_value = input("q를 입력하면 종료됩니다.")
    if input_value == "q": break
print("프로그램을 종료합니다.")

q를 입력하면 종료됩니다. ㅂ
q를 입력하면 종료됩니다. q

프로그램을 종료합니다.

### continue   
      
    
    제어흐름을 유지하고, continue가 실행된 반복 횟수의 코드 실행만 건너 뜁니다.

In [148]:
for i in range(100):  #0부터 99까지 증가하면서 반복
    if i % 2 == 0:  #짝수
        continue  #아래 코드를 실행하지 않고 건너뛰기
    print(i, end="\t")

1	3	5	7	9	11	13	15	17	19	21	23	25	27	29	31	33	35	37	39	41	43	45	47	49	51	53	55	57	59	61	63	65	67	69	71	73	75	77	79	81	83	85	87	89	91	93	95	97	99

In [163]:
i = 0
while True:
    if i % 10 != 3:
        i += 1
        continue
    if i > 100 :
        break
    print(i, end=' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [172]:
for i in range(11):
    if i > 0 :
        print(i,end="")

12345678910

In [183]:
i = 1
while True:
    if i > 10 :
        break
    print(i,end="")
    i += 1

12345678910

In [186]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 1
for i in range(end):
    sum += i
print(sta, "부터", end, "까지의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 3
끝나는 정수 입력: 4

1부터 10까지의 합은 7 입니다

In [193]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
i = 1
while True:
    if i > end :
        break
    sum+=i
    i += 1
print(sta, "부터", end, "까지의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 5

1 부터 5 까지의 합은 15 입니다

In [198]:
print(f'{sta}부터 {end}까지의 합은 {sum}입니다.')

1부터 5까지의 합은 15입니다.

In [203]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
i = 1
while i <= end :
    sum+=i
    i += 1
print(sta, "부터", end, "까지의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 2

1 부터 2 까지의 합은 3 입니다

In [217]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
for i in range(sta, end+1):
    if i % 2 == 0:
        sum += (i*i)
print(sta, "부터", end, "사이의 짝수 제곱의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 2

1 부터 2 까지의 합은 4 입니다

In [221]:
print("실행 결과:")
sta = int(input("시작하는 정수 입력:"))
end = int(input("끝나는 정수 입력:"))
sum = 0
i = 1
while i <= end :
    if i % 2 == 0:
        sum+= i*i
    i += 1
print(sta, "부터", end, "사이의 짝수 제곱의 합은", sum, "입니다")

실행 결과:

시작하는 정수 입력: 1
끝나는 정수 입력: 5

1 부터 5 사이의 짝수 제곱의 합은 20 입니다

In [232]:
print("실행 결과:")
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] # 0부터 시작
sum = 0
for i in range(0,10):
    sum += kor[i]
print(sum/len(kor))

실행 결과:
79.0

In [236]:
print("실행 결과:")
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] # 0부터 시작
sum = 0
i = 0
while i < 10 :
    sum+= kor[i]
    i += 1
print(sum/len(kor))

실행 결과:
79.0

In [239]:
print("실행 결과:")
kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100] # 0부터 시작
sum = 0
for score in kor:
    sum += score
    avg = sum / len(kor)
print(avg)

실행 결과:
79.0

In [35]:
print("실행 결과:")
sum = 0
for num in range(0,1000) :
    if num % 3 == 0 or num % 5 == 0 :
        sum += num
print("결과는", sum, "입니다.")

실행 결과:
결과는 233168 입니다.

In [36]:
print("실행 결과:")
sum = 0
i = 0
while i < 1000:
    if i % 3 ==0 or i % 5 == 0 :
        sum += i
    i += 1
print("결과는", sum, "입니다.")

실행 결과:
결과는 233168 입니다.

In [37]:
print("실행 결과:")
sum = 0
i = 0
while True:
    if i % 3 ==0 or i % 5 == 0 :
        sum += i
    i += 1
    if i >= 1000 :
        break
print("결과는", sum, "입니다.")

실행 결과:
결과는 233168 입니다.

In [25]:
print("실행 결과:")
sco = list(map(int,input("실기점수를 입력하세요").split(' ')))
sum = 0
sco. sort()
j = len(sco) - 1
for i in sco :
    sum += i 
    
print("이 학생의 평균 점수는", ((sum-(sco[0]+sco[j]))/(len(sco)-2)), "입니다.")

실행 결과:

실기점수를 입력하세요 70 50 85 98 82

79.0

In [29]:
print("실행 결과:")
sco = list(map(int,input("실기점수를 입력하세요").split(' ')))
sum = 0
large = sco[0]
small = sco[0]
for i in range (0, len(sco)) :
    sum += sco[i] 
    if large < sco[i]:
        large = sco[i]
    if small > sco[i]:
        small = sco[i]
     
    
print("이 학생의 평균 점수는", (sum-(large+small))/(len(sco)-2), "입니다.")

실행 결과:

실기점수를 입력하세요 70 50 85 98 82

79.0

In [34]:
#### print("실행 결과:")
sco = list(map(int,input("실기점수를 입력하세요").split(' ')))
sum = 0
i = 0
large = sco[0]
small = sco[0]
while i < len(sco) :
    sum += sco[i]
    i += 1
    if large < sco[i-1]:
        large = sco[i-1]
    if small > sco[i-1]:
        small = sco[i-1] 
    
print("이 학생의 평균 점수는", (sum-(large+small))/(len(sco)-2), "입니다.")

실기점수를 입력하세요 70 50 85 98 82

79.0

In [44]:
sco = list(map(int,input("실기점수를 입력하세요").split(' ')))

total = 0
for i in sco:
    total += i

large = 0
for i in sco:
    if i > large:
        large = i
    
small = 100
for i in sco:
    if i < small:
        small = i
    
print("이 학생의 평균 점수는", (total-(large+small))/(len(sco)-2), "입니다.")

실기점수를 입력하세요 70 50 85 98 82

이 학생의 평균 점수는 79.0 입니다.

In [64]:
sco = [86, 72, 98, 60, 45]
grade_counter = [0,0,0,0,0]
for i in sco :
    if 100 >= i > 84 :
        grade_counter[0] += 1
    elif i > 69 :
        grade_counter[1] += 1
    elif i < 54 :
        grade_counter[2] += 1
    elif i < 39 :
        grade_counter[3] += 1
    else:
        grade_counter[4] += 1
print("실핼결과:")
print(grade_counter)

실핼결과:
[2, 1, 1, 0, 1]

In [95]:
for j in range(1, 101) :
    if j % 3 == 0 and j % 5 != 0 :
        print("Fizz", end="\t")
    elif j % 3 != 0 and j % 5 == 0 :
        print("Buzz", end="\t")
    elif j % 3 == 0 and j % 5 == 0 :
        print("FIzzBuzz", end="\t")
    else :
        print(j, end="\t")

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FIzzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FIzzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FIzzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FIzzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FIzzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FIzzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [98]:
for i in range(1, 101) :
    print("Fizz"*(i%3==0) + "Buzz"*(i%5==0) or i, end="\t")
    
    #3의 배수면 True / 5의 배수면 True / 3의 배수도 5의 배수도 아니면 빈 문자열(False)

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [162]:
name_list = ['matthew','mark','luke','john','paul','peter']
count = 0
for name in name_list :
    for n in name :
        if n =='m' or n =='h' :
            count += 1
            break
                
print("m 또는 h가 이름에 포함된 사람은", count, "명 입니다.")

m 또는 h가 이름에 포함된 사람은 3 명 입니다.

In [127]:
name_list = ['matthew','mark','luke','john','paul','peter']
count = 0

for name in name_list:
    if 'm' in name or 'h' in name:
        count += 1
print("m 또는 h가 이름에 포함된 사람은", count, "명 입니다.")

m 또는 h가 이름에 포함된 사람은 3 명 입니다.

In [153]:
print("실행 결과:")
marks = [90, 25, 67, 45, 80]
for n in range(0, len(marks)) :
    if marks[n] < 60 :
        continue
    print(n+1, "번 학생 축하합니다. 합격입니다")

실행 결과:
1 번 학생 축하합니다. 합격입니다
3 번 학생 축하합니다. 합격입니다
5 번 학생 축하합니다. 합격입니다

In [159]:
print("실행 결과:")
marks = [90, 25, 67, 45, 80]
n = 0
while n < len(marks) :
    if marks[n] < 60 :
        n += 1
        continue
    n += 1
    print(n, "번 학생 축하합니다. 합격입니다")

실행 결과:
1 번 학생 축하합니다. 합격입니다
3 번 학생 축하합니다. 합격입니다
5 번 학생 축하합니다. 합격입니다

In [169]:
arr = [1, 4, 2, 3]
left, right = 0, len(arr) - 1
while left < (len(arr)//2) : 
    arr[left], arr[right], = arr[right], arr[left]
    left += 1
    right -= 1
print("변환된 arr은", arr, "입니다.")

변환된 arr은 [3, 2, 4, 1] 입니다.

In [210]:
print("실행 결과:")
for i in range(1,10,1):
    for j in range(2,10,1):
        gugu = i * j
        print(j, "X", i, "=", gugu , end ="\t", sep ="" )
    print( )

실행 결과:
2X1=2	3X1=3	4X1=4	5X1=5	6X1=6	7X1=7	8X1=8	9X1=9
2X2=4	3X2=6	4X2=8	5X2=10	6X2=12	7X2=14	8X2=16	9X2=18
2X3=6	3X3=9	4X3=12	5X3=15	6X3=18	7X3=21	8X3=24	9X3=27
2X4=8	3X4=12	4X4=16	5X4=20	6X4=24	7X4=28	8X4=32	9X4=36
2X5=10	3X5=15	4X5=20	5X5=25	6X5=30	7X5=35	8X5=40	9X5=45
2X6=12	3X6=18	4X6=24	5X6=30	6X6=36	7X6=42	8X6=48	9X6=54
2X7=14	3X7=21	4X7=28	5X7=35	6X7=42	7X7=49	8X7=56	9X7=63
2X8=16	3X8=24	4X8=32	5X8=40	6X8=48	7X8=56	8X8=64	9X8=72
2X9=18	3X9=27	4X9=36	5X9=45	6X9=54	7X9=63	8X9=72	9X9=81

In [211]:
print("실행 결과:")
i = 1
while i < 10:
    j = 2
    while j < 10:
        gugu = i * j
        print(j, "X", i, "=", gugu , end ="\t", sep =""  )
        j += 1
    i += 1
    print( )

실행 결과:
2X1=2	3X1=3	4X1=4	5X1=5	6X1=6	7X1=7	8X1=8	9X1=9
2X2=4	3X2=6	4X2=8	5X2=10	6X2=12	7X2=14	8X2=16	9X2=18
2X3=6	3X3=9	4X3=12	5X3=15	6X3=18	7X3=21	8X3=24	9X3=27
2X4=8	3X4=12	4X4=16	5X4=20	6X4=24	7X4=28	8X4=32	9X4=36
2X5=10	3X5=15	4X5=20	5X5=25	6X5=30	7X5=35	8X5=40	9X5=45
2X6=12	3X6=18	4X6=24	5X6=30	6X6=36	7X6=42	8X6=48	9X6=54
2X7=14	3X7=21	4X7=28	5X7=35	6X7=42	7X7=49	8X7=56	9X7=63
2X8=16	3X8=24	4X8=32	5X8=40	6X8=48	7X8=56	8X8=64	9X8=72
2X9=18	3X9=27	4X9=36	5X9=45	6X9=54	7X9=63	8X9=72	9X9=81