# 2023 - 01 - 12 #

------------------------------

# 함수 #

>프로그래밍에서 함수는 독립적으로 설계된 프로그램 코드의 집합  
>반복적인 코드의 양을 줄여 유지보수성 높여줌

In [ ]:
x = 함수명(인수, 인수, ...)   <--------\
print("결과 값:", x)    |               \
                        ↓                \
def 함수명(인자, 인자, ...): 함수 코드... return 변환값

>함수가 호출되면 함수 정의부로 가서 함수 호출부의 인수 값을 함수 정의부 인자 값에 순서대로 대입 후 함수 정의부 내부 코드를 순차적으로 실행
>해당 함수의 return값이 있는 경우, 함수 호출부를 return값으로 치환

>함수 호출을 하면 함수가 정의된 곳에서 코드를 실행하고 반환 값을 받아온다.  
>args와 params는 순서에 맞게 대입된다.

In [ ]:
function_name(arg1,arg2, ...)
function_name(param1, param2, ...)
result = param1 + param2
return result

### 함수 ###
##### print(), len(), list(), reversed() 모두 다 함수 #####   
  
    
>코드를 목적에 맞게 사용할 수 있다  
>중복에서 오는 실수를 줄일 수 있다  
>재사용 할 수 있다

### 함수 vs 메서드 ###
>함수는 클래스에 포함되지 않은 채로 사용 
  
함수명((인수1), (인수2), ...)       
  
  
>메서드는 클래스에 포함되어 객체를 통해 호출 
  
객체.매서드명((인수1), (인수2), ...)

In [103]:
def 함수_이름(위치_인자, 위치_인자2, *가변_위치, 키워드_인자, 키워드_인자2, **가변_키워드):




"""
Doc string을 적는 곳
작성자 : 김유림
작성일자 : 20230112
"""

함수의 바디
함수의 바디

#return 변환값
pass

IndentationError: expected an indented block (3507057445.py, line 2)

In [114]:
def function():
    """
    함수의 설명
    """
    
    
    pass

In [115]:
function.__doc__

'\n    함수의 설명\n    '

In [116]:
print(function.__doc__)

    함수의 설명

In [117]:
print(list.__doc__)

Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.

### 인자 ###   

  
인수(argument)는 주는거고 인자(parameter)는 받는거  
  
    
>**위치** - 키워드 : 위치로 혹은 키워드로 전달될 수 있는 인자를 말함 매개변수의 기본 형태  
>**위치 전용** : / 문자를 기준으로 좌측에 위치한 인자  
>**키워드 전용** : * 문자를 기준으로 우측에 위치한 인자  
>**가변 위치** : 위치 매개변수 외에 추가적인 위치 매개변수를 개수에 상관없이 받을 수 있음 변수명  앞에 *를 하나 붙여 표기  
>**가변 키워드** : 키워드 매개변수 외에 추가적인 키워드 매개변수를 개수에 상관없이 받을 수 있음 변수명 앞에 ** 두개 붙여 표기

In [124]:
print("1", "2", "3", "4", "5")

1 2 3 4 5

In [125]:
# 함수를 정의절
def function_name(positional, positiona12, *args, keyword1=1, **kargs):
    pass #body

In [126]:
#함수 정의절
def get_grade(score = 200): #score에 숫자를 집어 넣으면 return값으로 변환해줌 #초기값을 주냐 안주냐에 따라 기본값이 있을수도/없을수도
    """
    숫자로된 정수를 넣으시면 학점의 결과를 반환합니다.
    """
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "E"

In [129]:
result = get_grade(60) # 함수의 return 반환값 그대로 "C"로 출력
print(result)

C

In [131]:
import random

scores = [random.randint(1, 100) for _ in range(20)]
print(scores)

[17, 26, 2, 78, 84, 4, 11, 56, 48, 13, 90, 100, 53, 56, 72, 53, 2, 66, 94, 85]

In [133]:
grades = list(map(get_grade, scores))
print(grades)

['E', 'E', 'E', 'B', 'B', 'E', 'E', 'C', 'D', 'E', 'A', 'A', 'D', 'C', 'B', 'D', 'E', 'C', 'A', 'A']

In [134]:
print(get_grade.__doc__)

    숫자로된 정수를 넣으시면 학점의 결과를 반환합니다.

In [143]:
#함수 정의절
#인자(parameter)
def get_grade(score, student_number, name="홍길동"): #ex) 홍길동 같이 키워드를 설정해주는 얘들은 무조건 뒤에
                                                     #기본값을 갖는 인수(argument) 는 기본값이 없는 인자(parameter) 뒤에 위치
                                                     #position argument는 keyword agument보다 뒤에 와야 한다. 
    """                                             
    숫자로된 정수를 넣으시면 학점의 결과를 반환합니다.
    """
    print(f"{student_number}, {name}의 성적을 확인합니다.")
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "E"

In [144]:
get_grade(100, "김유림", "10000")

10000, 김유림의 성적을 확인합니다.

'A'

In [145]:
get_grade("김유림", 100, "10000")

10000, 100의 성적을 확인합니다.

TypeError: '<=' not supported between instances of 'int' and 'str'

In [157]:
# 함수 정의절
# 인자 (매개변수, parameter) - non-default, default 종류
def add_number(number2, number1 = 3, /): #기본값을 갖는 얘들은 뒤쪽에 위치
    """
    숫자 number1과 숫자 numbeer2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 + number2

In [152]:
print(add_number.__doc__)

    숫자 number1과 숫자 numbeer2를 전달 받아 더한 결과를 반환합니다.

In [153]:
result = add_number(2, 3) #소괄호

In [154]:
print(result)

5

In [158]:
#인수(argument) - positional argument, keyword argument
result = add_number(number1 = 2, number2 = 3) # 소괄호 --> call

TypeError: add_number() got some positional-only arguments passed as keyword arguments: 'number2, number1'

In [159]:
# 함수 정의절
# 인자 (매개변수, parameter) - non-default, default 종류
#기본값을 갖는 얘들은 뒤쪽에 위치
def minus_number(*, number1, number2 = 3): # keywor-only: *문자를 기준으로 오른편에 온다.
    """
    숫자 number1과 숫자 numbeer2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 - number2

In [160]:
#함수를 호출
#인수(argument) - positional argument, keyword argument
minus_number(number1 = 20)

17

In [163]:
# 함수 정의절
# 인자 (매개변수, parameter) - non-default, default 종류
#기본값을 갖는 얘들은 뒤쪽에 위치
def multi_number( number1,/, *, number2 = 3): # keywor-only: *문자를 기준으로 오른편에 온다.
    """
    숫자 number1과 숫자 numbeer2를 전달 받아 더한 결과를 반환합니다.
    """
    return number1 * number2

In [164]:
multi_number(3, number2 = 10)

30

In [172]:
def string_line(str_value, /, str_len, *, sep="#"):
    """
    str_value는 가운데 오는 텍스트입니다.
    str_len은 텍스트의 설정할 길이입니다.
    sep는 구분선을 그을때 쓰는 문자입니다.
    """
    print(str_value.center(str_len, sep))

In [173]:
string_line("구분", 50, sep="*")

************************구분************************

In [174]:
len('**********************구분**************************')

50

In [180]:
string_line("절취선", str_len = 100, sep="-")

------------------------------------------------절취선-------------------------------------------------

In [182]:
print("1", "1", "1", "1", "1", "1", "1", "1", "1", "1")

1 1 1 1 1 1 1 1 1 1

In [188]:
# *args: var positionql 가변 위치
def test_func(a, b, c, *args):
    print(f'a: {a} b: {b} c: {c}' )
    print(type(args))
    print(args)

In [189]:
test_func("a 위치입니다", "b 위치입니다", "c 위치입니다", "여기는", "어딜까요", "몇개", "더")

a: a 위치입니다 b: b 위치입니다 c: c 위치입니다
<class 'tuple'>
('여기는', '어딜까요', '몇개', '더')

In [191]:
# **kargs: var keyword 가변 키워드
def test_func2(a="a", b="b", **kargs):
    print(a, b)
    print(type(kargs))
    print(kargs)

In [192]:
test_func2(a="ab", b="bc", key="value", key2="value2")

ab bc
<class 'dict'>
{'key': 'value', 'key2': 'value2'}

In [193]:
# *args: var positionql 가변 위치
def test_func(a, b, *args, c):
    print(f'a: {a} b: {b} c: {c}' )
    print(type(args))
    print(args)

In [194]:
test_func("a 위치입니다", "b 위치입니다", "c 위치입니다", "여기는", "어딜까요", "몇개", "더")

TypeError: test_func() missing 1 required keyword-only argument: 'c'

-------------------------------------------------------------------------------

#### 연습문제 ####

In [4]:
def plus_ten(a):
    print("반환값:", a+10)

In [5]:
 plus_ten(70)

반환값: 80

In [1]:
문자열 메서드 join()
문자열로 이뤄진 리스트를 하나의 문자열로 만듬 리스트 내 요소인 문자열과 문자열 사이에 채울 문자 값.join(문자로 만들 리스트)

SyntaxError: invalid syntax (24582108.py, line 1)

In [2]:
list_strs = [_ for _ in "abcdefghijklmnopqrstuvwxyz"]
print(f"list_strs = {list_strs}")

#str.join(list)
#str 요소들로 이뤄진 list를 합쳐 하나의 문자열로 만듬
wole_str = "*".

SyntaxError: invalid syntax (2245256809.py, line 6)

In [75]:
import random
random_n = random.randint(1, 101)
input_values = []

while True : 
    input_values.append(input("숫자를 하나 입력하세요: "))
    i = int(input_values[-1])
    if i > 100 or i < 1 :
        print("1 ~ 100 사이의 숫자를 입력하세요.")
    elif random_n > i :
        print("그보다 큽니다")
    elif random_n < i:
        print("그보다 작습니다")
    else:
        print("맞췄습니다!")
        break
print(len(input_values), "번 만에 맞추셨습니다.", sep="")
print("입력한 숫자는 다음과 같습니다.", "," .join(input_values))

숫자를 하나 입력하세요:  50

그보다 작습니다

숫자를 하나 입력하세요:  38

그보다 작습니다

숫자를 하나 입력하세요:  27

그보다 작습니다

숫자를 하나 입력하세요:  14

그보다 큽니다

숫자를 하나 입력하세요:  18

그보다 작습니다

숫자를 하나 입력하세요:  16

그보다 큽니다

숫자를 하나 입력하세요:  17

맞췄습니다!
7번 만에 맞추셨습니다.
입력한 숫자는 다음과 같습니다. 50,38,27,14,18,16,17

----------------------------------------------

In [76]:
# 함수 정의절

In [80]:
def function_name(param1, param2,  /, poskey1, poskey2, *, keyonly1, keyonly2) :
    """
    Docs
    """
    pass

In [82]:
#인무(argument)
#position-only -> "값", "값2", "값3", ...
#keyword_only -> key = "value", key2 = "value2", ...
function_name("posonly", "po", "value", poskey2="value", keyonly1="value", keyonly2="value")

In [91]:
# 가변 위치 개수에 유연하게 값을 받을 수 있는 인자
def function_name2(*args):
    print(type(args))
    for arg in args:
        print(arg)

In [92]:
function_name2("args", "는", "가변 위치", "인수입니다.") # "args" --> param1  /  "는" --> param2  /  ("가변 위치", "인수입니다.") packing되어서 --> *args

<class 'tuple'>
args
는
가변 위치
인수입니다.

In [85]:
# 가변 위치 개수에 유연하게 값을 받을 수 있는 인자
def function_name2(param1, param2, *args):
    print(param1)
    print(param2)
    print(type(args))
    for arg in args:
        print(arg)

In [86]:
function_name2("args", "는", "가변 위치", "인수입니다.") # "args" --> param1  /  "는" --> param2  /  ("가변 위치", "인수입니다.") packing되어서 --> *args

args
는
<class 'tuple'>
가변 위치
인수입니다.

In [94]:
# unpacking
# 시퀸스 자료형의 개수만큼 좌측에 변수 맞춰줘서 한번 할당
a, b, c, d = [_ for _ in range(4)]
print(a, b, c, d)

0 1 2 3

In [95]:
# Parameters : 함수 정의절애서 사용하는 이름
# Arguments : 함수 호출할때 함수에 전달하는 실제 값

### 연습문제 ###

In [109]:
def to_celsius(fahrenheit) :
    
    return (fahrenheit-32) * 5/9

In [112]:
print(to_celsius(70))

21.11111111111111

In [154]:
def odd_even(number) :
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number) != int :
        return
    elif number % 2 == 0 :
        return"짝수"
    elif number % 2 == 1:
        return"홀수"

In [155]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [156]:
def odd_even(number) :
    """number가 짝수면 "짝수", 홀수면 "홀수" 반환"""
    if type(number) is int and number > 0:
        return "짝수" * (number % 2 == 0) or "홀수" #true면 1처럼 동작 / false면 0(빈 문자열이나 0)처럼 동작
    else:
        return

In [157]:
print(odd_even.__doc__)
print(odd_even(10))
print(odd_even(9))
print(odd_even("가"))

number가 짝수면 "짝수", 홀수면 "홀수" 반환
짝수
홀수
None

In [158]:
def check_leap_year(year) :
    if year % 4 == 0:
        if year % 100 ==0 and year % 400 != 0:
            return "평년"
        return"윤년"
    else:
        return"평년"

In [162]:
print(check_leap_year(2004))
print(check_leap_year(2000))
print(check_leap_year(1900))

윤년
윤년
평년

In [187]:
def days(month):
    if month in (1, 3, 5, 7, 8, 10, 12) :
        return 31
    elif month in (4 , 6 , 9 , 11) :
        return 30
    elif month == (2) :
        return 28
    else:
        return

In [189]:
print(days(11))
print(days(2))
print(days(1))
print(days(13))

30
28
31
None

In [198]:
def days(year, month):
    if month in (1, 3, 5, 7, 8, 10, 12) :
        return 31
    elif month in (4 , 6 , 9 , 11) :
        return 30
    elif month == (2) :
        if year % 4 == 0:
            if year % 100 ==0 and year % 400 != 0:
                return 28
            return 29
        else:
            return 28
    else:
        return

In [199]:
print(days(1900, 11))
print(days(2004, 10))
print(days(1900, 2))
print(days(2000, 2))

30
31
28
29

In [203]:
x = 10
y = 3
def get_quotient_remainder(x, y):
    return x // y , x % y
quitient, remainder = get_quotient_remainder(x, y)
print(f'몫: {quitient}, 나머지:{remainder}')

몫: 3, 나머지:1